<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8" />
    <title>{{ workspaceName }}</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Noto+Sans&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="../css/reset.css"/>
    <link rel="stylesheet" href="../css/styles.css"/>
</head>
<body>
<main class="main">
