<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8" />
    <title>{{ workspaceName }}</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Noto+Sans&display=swap" rel="stylesheet">
    <script src="js/color.js"></script>
    <link rel="stylesheet" href="css/reset.css"/>
    <link rel="stylesheet" href="css/styles.css"/>
</head>
<body>
<nav class="nav">
    <input type="color" id="colorPicker" value="#0D7E83" placeholder="#0D7E83" title="Color picker">
    <h2 class="nav__title" onclick="openColorPicker()">{{ workspaceName }}</h2>
    <ul class="nav__list">
        {{#each channels}}
            <li class="nav__item"><a class="nav__anchor" target="channel" href="channels/{{name}}.html">#{{ name }}</a></li>
        {{/each}}
    </ul>
</nav>
<iframe name="channel" src="channels/index.html" width="85%" height="100%" title="channel"></iframe>
