{{> channel_header}}
<h1 class="headline">{{ workspaceName }}</h1>
<div class="messages__item">Pick a channel from the menu to view the message history.</div>
<div class="messages__item">Click on the workspace name to change menu color.</div>
{{> channel_footer}}
