:root {
    --h: 182;
    --s: 0%; /*the base color*/
    --l: 50%; /*the initial lightness*/

    --nav-bg: hsl(var(--h), var(--s), var(--l));
    --nav-scroll: hsl(var(--h), var(--s), calc(var(--l) + 20%));
    --nav-scroll-hover: hsl(var(--h), var(--s), calc(var(--l) + 30%));
    --nav-scroll-bg: hsl(var(--h), var(--s), calc(var(--l) - 10%));
    --nav-item: hsl(calc(var(--h) + 75), var(--s), calc(var(--l) + 20%));
}

html {
    width: 100%;
    height: 100%;
    font-family: "Noto Sans", sans-serif;
    font-size: 0.9rem;
    overflow-wrap: break-word;
}

a {
    color: mediumblue;
}

code {
    font-size: 0.8em;
    font-family: Consolas, monospace;
    background-color: #333;
    color: #fff;
    outline: 0.125em solid #333;
    tab-size: 4;
    hyphens: none;
}

pre {
    white-space: pre;
    overflow: auto;
    background-color: #333;
    color: #fff;
    padding: 1rem;
    margin: 0.5rem 0;
}

pre code {
    background-color: transparent;
    color: inherit;
    outline: none;
}

.nav {
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    width: 15%;
    color: white;
    overflow: auto;
    -webkit-overflow-scrolling: touch;
    background-color: var(--nav-bg);
}

iframe {
    position: absolute;
    top: 0px;
    bottom: 0px;
    left: 15%;
    right: 0px;
    overflow-x: scroll;
}

.nav__title {
    font-weight: bold;
    font-size: 1.25rem;
    font-size: 2rem;
    padding: 0.5rem;
    border-bottom: white 1px solid;
    overflow: hidden;
}

.nav__anchor {
    color: white;
    text-decoration: none;
    width: 100%;
    display: block;
}

.nav__item {
    padding: 0 0 0 1rem;
}
.nav__item:hover {
    background: var(--nav-item);
}

.nav__list {
    overflow: auto;
}

.headline {
    background-color: white;
    position: sticky;
    top: 0;
    padding: 1.5rem;
    font-size: 3rem;
    font-weight: bold;
}

.messages__item {
    padding: 0.5rem 0.5rem 0.5rem 1rem;
}
.messages__item:hover {
    background: rgb(246, 246, 246);
}

.messages__timestamp {
    color: #999;
}

.messages__mention {
    background-color: lightblue;
    color: mediumblue;
}

::-webkit-scrollbar {
    width: 10px;
}

::-webkit-scrollbar-track {
    box-shadow: inset 0 0 5px var(--nav-scroll-bg);
    border-radius: 5px;
}

::-webkit-scrollbar-thumb {
    background: var(--nav-scroll);
    border-radius: 5px;
}

::-webkit-scrollbar-thumb:hover {
    background: var(--nav-scroll-hover);
}

#colorPicker {
    display: none;
}
